.caContainer{
    width: 250px;
    margin:0 10px;
}
.caImgContainer{
    width: 285px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}
.caImgContainer > img{
    width: 275px;
    object-fit: cover;
    height:250px
} 

.caProductName{
    font-size: 14px;
    padding: 10px 0;
}
.caProductPrice{
    font-size: 14px;
    font-weight: 600;
}

.productContainer :hover{
    transform: scale(1.01);
    transition:transform  0.3s;
}
